body {
    margin-top: 56px;
}

.blockMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(52, 58, 64);
    ;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.2s;
}

.blockMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.blockMenu a:hover {
    color: #f1f1f1;
}

.blockMenu .closebtn {
    font-size: 36px;
}

.menuOptions {
    background-color: #17a2b8;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.menuOptions:hover {
    background-color: #117585;
    cursor: pointer;
}

.menuIcons {
    font-size: 5rem;
    color: white;
}

.block-unit,
.block-unit-complex {
    border: 1px dotted #818181;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
}

#blockSave {
    margin-top: 8px;
}

#blockDelete {
    margin-top: 8px;
    margin-left: 8px;
}

.interface-block {
    margin-bottom: 16px;
}

.image_picker_selector {
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
    align-items: flex-start;
}

.thumbnail {
    flex-grow: 1;
    flex-basis: 125px;
    max-width: 300px;
    margin: 5px;
}

.thumbnail img {
    height: 100%;
    width: 100%;
}

.dropzone .dz-preview .dz-error-message {
    top: 150px !important;
}

[id^=order]:hover {
    color: #17a2b8;
    cursor: pointer;
}

#col1,
#col2 {
    border: 1px dotted grey;
    height: 200px;
    margin: 0;
    border-radius: 4px;
}

.block {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
    outline: 1px dashed rgba(170, 170, 170, 0.7);
    outline-offset: -2px;
    box-sizing: border-box;
}

.column {
    outline: 1px dashed rgba(170, 170, 170, 0.7);
    outline-offset: -2px;
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 100%;
    box-sizing: border-box;
}

.fa-times {
    color: #eb0000
}

#pageView {
    padding: 20px;
}

.owl-carousel {
    position: relative;
    height: auto;
    width: auto;
    text-align: center;
}

.owl-carousel .owl-item a img {
    display: block;
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

.owl-carousel .owl-item {
    text-align: center;
}